<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Result</title>
 </head>
 <body>
   <h1><%=@comp%></h1>
   <a href = "http://sidharths00-pc-15-precollege-se1-aus-072015-1-114153.nitrousapp.com:3000/">Return to the calculator</a>
 </body>
</html>